@model IEnumerable<Product>


@foreach (var item in Model)
{
    <li>
        <a asp-area="User" asp-controller="Home" asp-action="ProductDetail" asp-route-id="@item.Id">@item.ProductTitle</a>
    </li>
}