@model About


<div class="breadcrumb-area">
    <div class="container">
        <ol class="breadcrumb breadcrumb-list">
            <li class="breadcrumb-item"><a asp-area="User" asp-controller="Home" asp-action="Index">Anasayfa</a></li>
            <li class="breadcrumb-item active">Hakkımızda</li>
        </ol>
    </div>
</div>
<div class="skill-area white-bg ptb-90">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="about-content mb-all-40">
                    <div class="about-title">
                        <h3>Hakkımızda</h3>
                    </div>
                    <p class="mb-15">
                        @if (Model != null)
                        {
                            @if (Model.AboutText != null)
                            {
                                @Html.Raw(Model.AboutText)
                            }
                        }
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>